<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Simplest lead generator</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/custom.css">

  <!-- Scripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <link rel="stylesheet" href="css/github-prettify-theme.css">
  <script src="js/site.js"></script>
  <script src="js/clipboard.min.js"></script>

  <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body class="code-snippets-visible">

  <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <section class="header">
      <h2 class="title">Leads</h2>
      <a href="/">Home</a> 
    </section>

    <!-- Forms -->
    <div class="docs-section" id="forms">
      <div class="docs-example docs-example-forms">
        <form action="/leads" method="GET">
          <div class="row">
            <div class="four columns">
              <label for="exampleEmailInput">I want leads for</label>
              <input name="q" class="u-full-width" type="search" placeholder="hotels in mumbai" id="exampleRecipientInput" value="<%= query %>">
            </div>
            <div class="four columns">
              <label for="exampleEmailInput">Total leads needed</label>
              <input name="count" class="u-full-width" type="number" placeholder="100" id="exampleRecipientInput" value="<%= count %>">
            </div>
            <!--div class="four columns">
                <label for="exampleEmailInput">Email</label>
                <input name="email" class="u-full-width" type="email" placeholder="sales@mycompany.com" id="exampleEmailInput" value="<%= email %>">
              </div-->
            <div class="four columns">
              <label>From existing data</label>
              <input class="button" type="submit" value="Download">
            </div>
          </div>
          <% if (typeof errorMessage != 'undefined' && errorMessage) { %>
            <br/>
            <p style="font-weight: bold;text-align: center; color: red;">
              <%= errorMessage %>
            </p>
            <% } %>
        </form>
        <% if (typeof leads != 'undefined' && leads && leads.length>0 ) { %>
          <p> Showing <%= leads.length %> leads  <a href="#" class="ctc">Copy all emails to clipboard</a> or <a href="javascript: exportToFile()">Download the file</a></p>
          <div class="twelve columns">
          <table>
            <% for(var i=0; i < leads.length; i++) { %>
              <tr>
                <td style="width: 10%;"> 
                    <a href='<%= leads[i].url %>'>
                      <%= leads[i].title %>
                    </a>
                <td>
                <td style="width: 80%;"><span style="word-wrap: break-word;"><%= leads[i].emails %></span></td>
              </tr>
             <% } %>
          </table>
          </div>
         <% } %>
      </div>


</body>

<script>
    
    
    function exportToCsv(filename, rows) {
        var processRow = function (row) {
            return row + ',';
        };

        var csvFile = '';
        for (var i = 0; i < rows.length; i++) {
            csvFile += processRow(rows[i]);
        }

        var blob = new Blob([csvFile], { type: 'text/plain;charset=utf-8;' });
        if (navigator.msSaveBlob) { // IE 10+
            navigator.msSaveBlob(blob, filename);
        } else {
            var link = document.createElement("a");
            if (link.download !== undefined) { // feature detection
                // Browsers that support HTML5 download attribute
                var url = URL.createObjectURL(blob);
                link.setAttribute("href", url);
                link.setAttribute("download", filename);
                link.style.visibility = 'hidden';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            }
        }
    }
    
    function exportToFile(){
      var filename = "EmailData.txt";
      var blob = new Blob([getAllEmails().join(",\n")], { type: 'text/plain;charset=utf-8;' });
        if (navigator.msSaveBlob) { // IE 10+
            navigator.msSaveBlob(blob, filename);
        } else {
            var link = document.createElement("a");
            if (link.download !== undefined) { // feature detection
                // Browsers that support HTML5 download attribute
                var url = URL.createObjectURL(blob);
                link.setAttribute("href", url);
                link.setAttribute("download", filename);
                link.style.visibility = 'hidden';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            }
        }
    }
    
    function copyToClipboard() {
      var text = getAllEmails().join(",\n");
      window.prompt("Click OK", text);
    }
    
    function getAllEmails(){
      var emails = [];
      <% if (typeof leads != 'undefined' && leads && leads.length>0 ) { %>
      <% for(var i=0; i < leads.length; i++) { %>
        emails.push('<%= leads[i].emails %>');
      <% } %>
      <% } %>
      console.log(" leads "+ emails.toString());
      return emails; 
    }
</script>


<script>
  (function() { 
    new Clipboard('.ctc', {
    text: function(trigger) {
        return getAllEmails().join(",\n");
    }
    });
    // Json2CSV(leads);
    // exportToCsv('data.txt', emails);
  })();
  </script>

</html>